<div id="header">
  <section>
    <button mat-icon-button color="primary" class="header-button-left">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button class="header-text-button">Stop sounds</button>
    <mat-slide-toggle
      class="slider"
      [color]="selectorColor"
      [checked]="selectorShortcuts"
    >
      SHORTCUTS
    </mat-slide-toggle>
    <mat-slide-toggle
      class="slider"
      [color]="selectorColor"
      [checked]="selectorMute"
    >
      MUTE
    </mat-slide-toggle>
  </section>
  <section class="section-right">
    <button mat-icon-button color="accent" class="header-button-right">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button color="accent" class="header-button-right">
      <mat-icon>view_stream</mat-icon>
    </button>
    <button mat-icon-button color="accent" class="header-button-right">
      <mat-icon>view_module</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="header-button-right">
      <mat-icon>view_list</mat-icon>
    </button>
  </section>
</div>
<div id="container">
  <div *ngFor="let soundData of sounds">
    <mat-card
      (click)="onSelectSound(soundData)"
      [ngClass]="{
        'card-selected mat-elevation-z4': soundSelected === soundData
      }"
      class="card"
    >
      <mat-card-header>
        <mat-card-title>{{ soundData.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ soundData.imageUrl }}" />
      <mat-card-content>
        <p>Price: {{ soundData.price }}€</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>PLAY</button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
